# --------------------------------------------------------------------------------------
# .xprofile
# --------------------------------------------------------------------------------------

# environment variables
export XDG_CONFIG_HOME="$HOME/.config"
export BROWSER=firefox
export EDITOR=nvim
export WM=bspwm
export GTK_THEME=Adwaita:dark
export PAGER=bat
export MANPAGER="bat --file-name=man --style=plain"
