Xft.dpi:       90
Xft.rgba:      rgb
Xft.hinting:   true
Xft.hintstyle: hintfull

*loginShell: true

#include ".config/.Xresources.d/fonts"
#include ".config/.Xresources.d/colors"
#include ".config/.Xresources.d/rofi"
#include ".config/.Xresources.d/urxvt"
#include ".config/.Xresources.d/xterm"
#include ".config/.Xresources.d/emacs"
