*loginShell: true

#include ".config/.Xresources.d/fonts"
#include ".config/.Xresources.d/colors"
#include ".config/.Xresources.d/urxvt"
#include ".config/.Xresources.d/xterm"
#include ".config/.Xresources.d/emacs"
