input[type=text],
input[type=search],
input[type=password],
input[type=submit],
select,
textarea
{
	-moz-appearance: none;
}

input,
select,
textarea
{
	border: 1px solid #888;
	color: #111;
	background-color: #eee;
}
