[Unit]
Description=Warpgate Docker Container
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/ximon/.dots
ExecStart=/usr/bin/make warpgate
Restart=on-failure

[Install]
WantedBy=default.target
